<template>
  <v-container>
    <v-layout row>
      <v-flex xs12 >
        <v-card v-if="!loading">
          <v-img
          :src="ad.imageSrc"
          height="350"

          ></v-img>
          <v-card-text>
            <h1 class="text--primry">{{ad.title}}</h1>
            <p>{{ad.description}}</p>
          </v-card-text>
                <v-card-actions>
          <v-spacer></v-spacer>
         <div class="my-2 mr-5 changeAndBuy">
        <editMadal :ad="ad"></editMadal>
        <v-btn color="success ml-5" :to="'/buy/' +ad.id">Buy</v-btn> 
          </div>
          </v-card-actions>
        </v-card>
        <div v-else class="text--darken-3">
          
        </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import editMadal from './editmodel'
  export default {
    props:['id'],
   computed:{
     ad (){
       const id=this.id
       return this.$store.getters.adById(id)
     },
     loading(){
       return this.$store.getters.loading
     }
   },components:{
     editMadal:editMadal
   }
   }
</script>

<style >
.changeAndBuy{
  display:flex;
  margin-right: 2px;
}

</style>