<template>
  <v-container>
    <v-layout row>
      <v-flex xs12 sm6 offset-sm3>
        <h1 class="text--darken-4">My ads</h1>

        <v-card elevation="8 mb-5"
        v-for="ad of myAds"
         :key="ad.id"
        >
        <v-layout row>
        <v-flex xs4 >
          <v-img
          :src="ad.imageSrc"
          height="200"
          width="250"
          class="imageAd"
          >
              
          </v-img>
        </v-flex>
        <v-flex xs8>
          <v-card-text>
        <h2 class="text--primary">{{ad.title}}</h2>
          <p>{{ad.description}}</p>
          </v-card-text>
          <v-card-actions>
          <v-spacer></v-spacer>
         <div class="my-2 mr-5">
        <v-btn   color="info"
        :to="'/ad/' +ad.id"
        >Open</v-btn>
         </div>
          </v-card-actions>
        </v-flex>  
        </v-layout>  
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
  computed:{
    myAds(){
      return this.$store.getters.myAds
    }
  }
  }
</script>
<style >
.imageAd{
  width:400px;
  height: 400px;
}
</style>