<template>
  <div>
    <div class="container-fluid">
      <div class="row text-center">
        <div class="col-lg-6">
          <v-card>
   <v-img :src="ad.imageSrc"></v-img>
                <br>
                <h4>{{ad.title}}</h4>
              <h6>Lorem  Cupiditate voluptatum quae Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt, unde. sequi labore velit quaerat molestias delectus, aliquid quos odio laudantium placeat aliquam architecto ipsum ad officia impedit voluptas ex!</h6>
            <hr>
            <div class="sale ml-50">
            <h3>50$</h3>
            <p>Доставка имеется</p>
            <flag iso="uz" class="flag"></flag>
            </div>
            <br>
          </v-card>
        </div>
        <div class="col-lg-6">
           <h4>New Model</h4>
           <hr>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Unde repudiandae eligendi doloribus commodi cupiditate atque? Vitae,
            voluptatem? Nobis eligendi voluptate minus totam optio delectus beatae temporibus

          </p>
          <hr>
             <v-form ref="form" v-model="valid" :lazy-validation="lazy">
              <v-text-field
                label="Карта"
                name="text"
                type="text"
                v-model="email"
                  :rules="[v=> !!v || 'required']"
              />

              <v-text-field
                id="password"
                label="Пароль карты"
                name="password"
                type="password"
                v-model="password"
                :counter="10"
                :rules="[v=> !!v || 'required']"
              />
                 <v-text-field
                id="text"
                label="Пароль карты"
                name="text"
                type="text"
                v-model="text"
                :counter="10"
                :rules="[v=> !!v || 'required']"
              />
          <v-checkbox
            hide-details
            label="Вы согласны?"
            light
               :rules="[v=> !!v || 'required']"
          ></v-checkbox>
        <br>
        <v-btn class="success" :loading="loading">
            Платить
        </v-btn>
            </v-form>
</div>
</div>
        </div>
   
      </div>
</template>

<script>
export default {
  props: ["id"],
  data(){
      return{
          text:'',
          password:'',
      }
  },
  computed: {
    ad() {
      const id = this.id;
       return this.$store.getters.adById(id)
       
    },
    loading(){
        return this.$store.getters.loading
    }
  }
};
</script>
<style >
</style>

