<template>
<div>
    <v-dialog width="400px" v-model="modal">  
    <template v-slot:activator="{ on }">
        <v-btn color="primary" dark v-on="on">Edit</v-btn>
      </template>
    <v-card>
        <v-container>
            <v-layout row>
                <v-flex xs12>
                    <v-card-title>
                        <h2 class="text-primary">Edit Ad</h2>
                    </v-card-title>
                </v-flex>
            </v-layout>
               <v-layout row>
                <v-flex xs12>
                    <v-card-text>
                         <v-text-field
                id="title"
                label="Title"
                name="title"
                type="-title"
                v-model="Editedtitle"
                :rules="[v=> !!v]"
              />
                        <v-text-field
                id="description"
                label="Description"
                name="title"
                type="title"
                aria-multiline=""
                v-model="Editdescription"
                :rules="[v=> !!v]"
              />
                    </v-card-text>
                </v-flex>
            </v-layout>
               <v-layout row>
                <v-flex xs12>
                    <v-card-actions>
                       <v-spacer></v-spacer>
                       <v-btn class="success" @click="onCancel">Cancel</v-btn>
                       <v-btn class="primary" @click="onSave">Save </v-btn>
                    </v-card-actions>
                </v-flex>
            </v-layout>
        </v-container>
    </v-card>
    </v-dialog>  
</div>
</template>


<script>
export default {
    props:['ad'],
    data(){
        return{
        modal:false,
        Editdescription:this.ad.description,
        Editedtitle:this.ad.title 
    }},
    methods:{
        onCancel(){
        this.Editdescription=this.ad.description,
        this.Editedtitle=this.ad.title   
        this.modal=false
        },
        onSave(){
       if(this.Editdescription !==' '&& this.Editedtitle !==''){
           this.$store.dispatch('updateAd',{
               title:this.Editedtitle,
               description:this.Editdescription,
               id: this.ad.id
           })
           this.modal=false 
       }
        }
    }
}
</script>