<template>
  <v-container class="fill-height" fluid>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="8" md="6">
        <v-card class="elevation-12">
          <v-toolbar color="primary" dark flat>
            <v-toolbar-title>Login form</v-toolbar-title>
          </v-toolbar>
          <div class="login-box">
          <v-card-text>
            <v-form ref="form" v-model="valid" :lazy-validation="lazy">
              <v-text-field
                label="email"
                name="email"
                prepend-icon="mdi-email"
                type="email"
                v-model="email"
                :rules="emailRules"
              />

              <v-text-field
                id="password"
                label="Password"
                name="password"
                prepend-icon="mdi-lock"
                type="password"
                v-model="password"
                :counter="10"
                :rules="passwordRules"
              />
            </v-form>
          </v-card-text>
          </div>
          <v-card-actions>
            <v-spacer />
            <v-btn color="primary btn-login-submit"
             @click="onSubmit" 
             :disabled="!valid || loading"
             :loading="loading"
            >Login</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => {
    return {
      email: "",
      password: "",
      valid:false,
      lazy:false,
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
      ],
           passwordRules: [
        v => !!v || 'Name is required',
        v => (v && v.length >= 6 ) || 'Name must be less than 10 characters',
      ],
    };
  },
  computed:{
    loading(){
      return this.$store.getters.loading
    }
  },
  methods: {
    onSubmit() {
      if(this.$refs.form.validate()){
       const user={
       email:this.email,
       password:this.password
       }
      this.$store.dispatch('loginUser',user)
      .then(()=>{
        this.$router.push('/')

      })
      .catch(()=>{})
       
      }
    }
  },
  created(){
    if(this.$route.query['loginError']){
      this.$store.dispatch('setError','please ,,,,,,')
    }
  }
};
</script>
