<template>
  <v-container>
    <v-layout row>
      <v-flex xs12 sm6 offset-sm3>
        <h1 class="text--darken-4">Create new ad</h1>
        <v-form ref="form" v-model="valid" :lazy-validation="lazy">
          <v-text-field
            label="Ad title"
            name="text"
            type="title"
            v-model="title"
            required
            :rules="[v=>!!v || 'title is required']"
          />
          <v-textarea
            id="password"
            label="Ad description"
            name="description"
            type="text"
            v-model="description"
            :rules="[v=>!!v || 'description is required']"
          />
        </v-form>
        <v-layout>
          <v-flex xs12>
            <v-btn
              class="ma-2 white--text warning"
            >
              Upload
              <v-icon right dark>mdi-cloud-upload</v-icon>
            </v-btn>
          </v-flex>
        </v-layout>
        <v-layout >
          <v-flex xs12 class="mt-2">
            <v-img
              src=""
              width="300"
              height="100"
            ></v-img>
          </v-flex>
        </v-layout>
           <v-layout >
          <v-flex xs12 >
         <v-switch
         label="Add to promo"
      v-model="promo"
    ></v-switch>
          </v-flex>
        </v-layout>
               <v-layout >
          <v-flex xs12 >
       <v-spacer></v-spacer>
       <v-btn class="primary" @click="createAd" :loading="loading" :disabled="!valid ||loading">Create ad</v-btn>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      valid: false,
      title:'',
      description:'',
      promo:false,
      lazy:true,
    }
  },
    computed:{
      loading(){
        return this.$store.getters.loading
      }
    },methods:{
    createAd(){
   if(this.$refs.form.validate()){
     const ad={
       title:this.title,
       description: this.description,
       promo:this.promo,
       imageSrc:'https://cdn.shopify.com/s/files/1/0533/2089/files/vuejs-tutorial_2d2a853c-aa2f-44b0-80df-933b495f77f8.png?v=1509478492'
     }
      this.$store.dispatch('createAd',ad)  
      .then(()=>{
        this.$router.push('/list')
      })
      .catch(()=>{})
   }
      
    }
    
  }
};
</script>