<template>
  <v-container>
    <v-layout row >
      <v-flex xs12 sm6 offset-sm3>
        <h1 class="text--darken-4 mb-7">Orders</h1>
        <v-list
      subheader
      two-line
      flat
    >
      <v-list-item-group
        multiple
        v-for="order of orders"
        :key="order.id"
      >
        <v-list-item>
          <template>
            <v-list-item-action>
              <v-checkbox
                color="primary"
                @change="mark(order)"
                :input-value="order.done"
              ></v-checkbox>
            </v-list-item-action>

            <v-list-item-content>
              <v-list-item-title>{{order.name}}</v-list-item-title>
              <v-list-item-subtitle>{{order.phone}}</v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-action>
              <v-btn class="primary"
              :to="'/ad/' + order.adId"
              >Open</v-btn>
            </v-list-item-action>
          </template>
        </v-list-item>
      </v-list-item-group>
    </v-list>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    data () {
      return {
      orders:[
        {
          id:'orders',
          name:'Behruz',
          phone:'909205750',
          adId:'123',
          done:false
        }
      ]
      }
    },methods:{
      mark(order){
        order.done=true
      }
    }
  }
</script>