<template>
  <div>
    <v-app>
        <v-navigation-drawer temporary app v-model="drawer">
   <v-card
    class="mx-auto"
    max-width="300"
    tile
  >
      <v-list>
        <v-list-item>
          <v-list-item-avatar >
            <v-img src="./assets/img/bmw.png"></v-img>
          </v-list-item-avatar>
        </v-list-item>
        <div class="linksDrawer">

      
      <v-list-item-group  color="primary">
        <v-list-item
         v-for="link in links"
          :key="link.title"
          :to="link.url"
        >
          <v-list-item-icon>
            <v-icon>{{link.icon}}</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{$t(link.title)}}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
         <v-btn @click="onLogOut"  v-if="isUserLogedIn"
         >{{$t('logout')}}<v-icon right>mdi-exit-to-app</v-icon></v-btn>

          
        </div>
    </v-list>
  </v-card>
        </v-navigation-drawer>

      <v-app-bar app dark class="primary" >
        <v-app-bar-nav-icon class="hidden-md-and-up" @click="drawer=!drawer"></v-app-bar-nav-icon>
        <div class="d-flex align-center">
          <router-link
            to="/"
          >
          <v-img   
            width="45"
            transition="sacale-transition"
            contain
            class="shrink ml-5"
             src="./assets/img/bmw.png"
             
             ></v-img>
          </router-link>
        </div>
        <h4 class="ml-5">{{date | date('time')}}</h4>
        <v-spacer></v-spacer>
        <div class="mr-5 links">
          <v-btn class="primary hidden-sm-and-down "
           elevation="0" 
          
          v-for="link in links"
          :key="link.title"
          :to="link.url"
          >{{$t(link.title)}} <v-icon right>{{link.icon}}</v-icon></v-btn>
           <v-btn class="primary hidden-sm-and-down" @click="onLogOut" v-if="isUserLogedIn" text
          >{{$t('logout')}}<v-icon right>mdi-exit-to-app</v-icon></v-btn> 
          
  </div>
          <div class="dropdown">
            <a
              class="btn btn-sm btn-primary dropdown-toggle btnLanguage"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >Выбрать язык</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <v-btn class="LanguagesTitleChoose">
            <a href @click.prevent="setLocale('uz')" class="ForFlex">
              <p>Ozbek tili <flag iso="uz"></flag></p> 
            </a>
          </v-btn>
          <v-btn class="LanguagesTitleChoose">
            <a href @click.prevent="setLocale('ru')" class="ForFlex">
              <p>Русский-язык <flag iso="ru"></flag></p>
            </a>
          </v-btn>
            </div>
          </div>
      
      </v-app-bar>

      <v-content> 
        <v-container fluid>
         <router-view></router-view>
        </v-container>
      </v-content>
 <template v-if="error">
     <v-snackbar
      :multi-line="true"
      :timeout="5000"
      @input="CloseError"
      :value="false"
      color="error"
    >
      <v-btn
        dark
        text
        @click="CloseError"
        color="dark"
      >
        {{error}}
      </v-btn>
    </v-snackbar>
 </template>
  
      <v-footer app>
        <!-- -->
      </v-footer>
    </v-app>
  </div>
</template>  

<script>
// import messages from './untils/messages'
export default {
  data: () => {
    return {
    drawer:false,
    date: new Date(),
    interval: null,
    };
  }, 
  mounted() {
    this.interval = setInterval(() => {
      this.date = new Date()
    }, 1000)
  },
  computed:{
   error(){
   return  this.$store.getters.error
   },
   isUserLogedIn(){
   return this.$store.getters.isUserLogedIn
   },
   links(){
     if(this.isUserLogedIn){
       return[
   {title: "orders.title", icon:"mdi-folder", url:"/orders"},
        {title: "new.title", icon:"mdi-file", url:"/new"},
        {title: "list.title", icon:"mdi-file-multiple", url:"/list"},
       ]
     }
     return[
          {title: "register.title", icon:"mdi-lock-open", url:"/registar"},
          {title: "login.title", icon:"mdi-lock", url:"/login"},
     ]
   }
  },
//   mounted(){
//  if(messages[this.$route.query.messages]){
//    this.$message(messages[this.$route.query.messages])
//  }
//   },
  methods: {
    setLocale(locale) {
        this.$i18n.locale=locale;
      },
      CloseError(){
        this.$store.dispatch('clearError ')
      },
      onLogOut(){
          this.$store.dispatch('logOutUser')
          this.$router.push('/?message=logout')
      },
  }
};
</script>

<style scoped>
.btnLanguage{
  color: #ffffff!important;

}
.btnLanguage:hover{
  box-shadow: 0 px 0 0 0 0!important;
}
.LanguagesTitleChoose{
  background: white!important;
  box-shadow: 0 0 0 0 0;
  margin:1px auto;
}
.v-btn--contained {
    box-shadow: none;
}
.links a:hover{
  text-decoration: none!important;
}
.v-btn.v-size--default {
    font-size: 13px;
}
.linksDrawer a{
 text-transform: uppercase;
}
.linksDrawer a:hover{
 text-decoration: none;
}
.v-list-item__title {
    font-size: 13px;
}
</style>